html {
  box-sizing: border-box;
  font-family: sans-serif;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  align-content: center;
  margin: auto;
  width: 1350px;
  height: 3000px;
}

.upperbar {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: baseline;

  width: 1350px;
}
#brand-name {
  font-size: 35px;
  justify-content: center;

  width: 80px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(239, 89, 28);
}
.search-bar {
  display: flex;
  margin: 25px -5px;
  color: black;
  width: 700px;
  height: 50px;
}

#register {
  height: 60px;
}
#sign-in {
  margin: 35px -5px;
  font-size: 15px;
  width: 65px;
  height: 35px;
  background: white;
}
.carticon {
  background-image: url(assets/cart.png);

  color: black;

  width: 32px;
  height: 35px;
}
.menubar {
  display: flex;
  background: white;
  width: 1350px;
  justify-content: space-between;
}
#Mbar {
  padding: 10px;
  margin: 3px;
}
.OMenu {
  display: flex;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  justify-content: flex-start;
}
#O {
  background: rgb(249, 149, 108);
  padding: 15px 15px;
  border-radius: 15%;
  margin: 3px;
}

.Grid {
  display: flex;
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.Sidebar {
  margin: 0%;
}
main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.product {
  display: grid;
  cursor: pointer;
  border: 1px solid #666;
}
.product:hover {
  background-image: url("assets/heart.png");
}

.product h3 {
  margin: 0;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.product img {
  width: 100%;
  height: 75%;
}
.view {
  margin: 0;
}
.desc {
  display: flex;
  justify-content: space-between;
}
